// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

// First override some or all individual color variables
// $primary: white;
// $secondary: #bf0a26;
// $light: #262626;
// $dark: #131313;
// $danger: #bf0a26;
// $body-color: white;
// $body-bg: yellow;

$red: #bf0a26;
$gray-800: #262626;
$black: #131313;
$primary: $black;
$secondary: $gray-800;
$success: #1c366cff;
$danger: $red;
$light: white;
$gray: #262626;

$theme-colors: (
  primary: $primary,
  red: $red,
  gray-800: $gray-800,
  gray: $gray,
  black: $black,
  secondary: $secondary,
  light: $light,
  danger: $danger,
  success: $success,
);

@import '~bootstrap/scss/bootstrap';
